:root {
  --color-maximum-red: #ff3333;
  --btn-danger-color: var(--color-maximum-red);
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
