.cnt {
    padding-top: 10px;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 20px;
}
.label {
    padding-right: 10px;
}
.fav{
width: 30%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.5rem;
}
